body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   background-color: #c7c7c7;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header CSS */
header {
  background-color: #282c34;
  min-height: 8vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


a {
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}


/* Body CSS */ 
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start{
  padding: 10vh;
  min-height: 60vh;
}
/* Temporary button style, modfied from https://fdossena.com/?p=html5cool/buttons/i.frag*/
button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0.3em 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  border:solid #4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

.roomInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

br {
  line-height: 150%;
}

.instructions{
  display: flex;
}

.column h3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column{
  flex: 50% ;
  border-style: solid;
  border-color: black;
  padding: 10px ;
}